body {
  text-align: center;
}

.icon {
  height: 1em;
  width: 1em;
  object-fit: cover;
}

#divLeft {
  border: 5px dashed green;
  border-radius: 20px;
  margin: 10px;
  padding: 8px;
  color: crimson;
  display: block;
  float: left;
  width: 50%;
}

#divRight {
  display: block;
  float: right;
  width: 50%;
}

.team {
  letter-spacing: 0.5em;
}

ul li {
  list-style-type: none;
}

ul {
  margin-top: 3em;
}
